
Pokedex/.idea/misc.xml
Pokedex/app/build.gradle
Pokedex/app/build.gradle
Pokedex/app/build.gradle
*.ser
Pokedex/app/build.gradle
Pokedex/.idea/caches/build_file_checksums.ser
Pokedex/.idea/caches/build_file_checksums.ser
Pokedex/app/build.gradle
Pokedex/app/src/main/java/com/example/brippp/pokedex/MainActivity.java
